<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InventoryApps"
        tools:targetApi="31">

        <!-- Splash screen is now the launcher -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- All other activities -->
        <activity android:name=".MainActivity" android:exported="true" />
        <activity android:name=".ManagerActivity" />
        <activity android:name=".StaffActivity" />
        <activity android:name=".InventoryActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".ManagerSearchActivity" />
        <activity android:name=".StaffManagementActivity" />
        <activity android:name=".QRScanActivity" />
        <activity
            android:name=".PortraitCaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".StaffSearchActivity" />
        <activity android:name=".ProductDetailsActivity" />
        <activity android:name=".AddStaffActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".Staff" />
        <activity android:name=".StaffAdapter" />
        <activity android:name=".ProductNotFoundActivity" />
        <activity android:name=".AuthHelper" />
        <activity android:name=".EditStaffActivity" />
        <activity android:name=".AddProductActivity" />

    </application>
</manifest>
